[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4"
pillow = "*"
djangorestframework = "*"
dj-rest-auth = "*"
django-allauth = "*"
django-cors-headers = "*"
whitenoise = "*"
gunicorn = "*"
drf-yasg = "*"
dj-config-url = "*"
psycopg2 = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.11"
